
<html>
<head>

<title>Evils of politics</title>

<style>
div {
    border: 1px solid gray;
    padding: 8px;
}

h1 {
    text-align: center;
	font-size: 40px;
	font-family:Georgia;
    color: #000080;
}

p {
    font-family:Georgia;
    text-indent: 100px;
    text-align: justify;
    letter-spacing: 2px;
	color: green;
	margin: 20px;
}

</style>
</head>

<body>

<div>
<h1>Evils of politics</h1>

<p>
It is a very bad thing for the politicians because once the work of reaching the position is complete, he never looks back, to peep into the condition of the people who helped him get the chair.
They become extreme selfishness, the Indian politician is one who is most corrupt in the breed of politicians of the world. 
He can do anything at all to achieve his personal objectives.
In the new and modern times, it becomes common in nature, the politician never leaves a chance to suck the lifeblood of the Indian people.
There is no any Indian people, who stand for raise their voice against the bad politicians, but rarely, which people raise their voice, they get threatened by the politicians.
The Indian politicians eating the resources and income of the country to fulfil his own ambitions and objectives and pave the way for his coming generations.
They exist in the constituency for only the limelight when, once again he has to go to the people for their votes, for the next assignment for another five years of his own prosperity.
</p>

<p>
The career of the politicians becomes very lucrative and paying, more and more people are getting interested in this profession, and more and more political parties are being born.
Public of the country knows very well, how much corruption in the politics of the world, but, they vote for that people, even many of the people want to involve in the politics for eating the money.
Even, there is the growth of political Parties, which is not controlling in the country and the service of the people is nowhere in the agenda of these new or old politicians.
The latest trend of the nexus the politician-businessman and the bureaucrat make Indian politician a very strong entity to reckon with has, in this nexus the combined strength of money power and muscle power, what more can anyone aspire from the politics. 
The politics is a totally bad field in which a number of corruption.
</p>

</div>
</body>
</html>
