
<html>
<head>

<title>Conclusion</title>

<style>
div {
    border: 1px solid gray;
    padding: 8px;
}

h1 {
    text-align: center;
	font-size: 40px;
	font-family:Georgia;
    color: #000080;
}

p {
    font-family:Georgia;
    text-indent: 100px;
    text-align: justify;
    letter-spacing: 2px;
	color: green;
	margin: 20px;
}

</style>
</head>

<body>

<div>
<h1>Conclusion</h1>

<p>
Finally, it can be admitted to all that politicians should be free from vitiated politics. 
Because politics depends upon politicians. They should have a constructive view in respect of welfare of mass. 
Their focus should be on welfare and development of the society.
</p>

<p>
They would always try to eradicate the corruption from the national life by root and branch and at the same time they can reach to their honest goal by hearkening to the inconveniences of the public.
</p>

</div>
</body>
</html>
