
<html>
<head>

<title>Disappointment</title>

<style>
div {
    border: 1px solid gray;
    padding: 8px;
}

h1 {
    text-align: center;
	font-size: 40px;
	font-family:Georgia;
    color: #000080;
}

p {
    font-family:Georgia;
    text-indent: 100px;
    text-align: justify;
    letter-spacing: 2px;
	color: green;
	margin: 20px;
}

</style>
</head>

<body>

<div>
<h1>Disappointment</h1>

<p>
People go to vote but they have unpopular leaders of popular parties. Only symbols are elected not politicians. 
This scenario shows that, often, people are being disappointed by our political leaders. 
They may devalue the public-moral and erode the very essence of democracy.
</p>

<p>
Money also plays a dominant role in the Indian politics, especially during election. 
Vote is purchased by the party men. Ambitions, influential people impact on every country’s political set up.
"The politicians should remember that they are our leader not our ruler".
</p>

</div>
</body>
</html>
