
<html>
<head>

<title>Future of the Indian politics</title>

<style>
div {
    border: 1px solid gray;
    padding: 8px;
}

h1 {
    text-align: center;
	font-size: 40px;
	font-family:Georgia;
    color: #000080;
}

p {
    font-family:Georgia;
    text-indent: 100px;
    text-align: justify;
    letter-spacing: 2px;
	color: green;
	margin: 20px;
}

</style>
</head>

<body>

<div>
<h1>Future of the Indian politics</h1>

<p>
Future of the Indian politics depends on the role of the elected leaders and voters.
If any politician taking decisions against our Indian Constitution. Then, he/she is not only responsible for that. Voters are also responsible because we are electors. Don’t forget that leaders are also elected member from our society by us. We know them very well. 
So, it is our responsibility to elect an honest and well qualified leader for safe future.
</P>
<p>
At present time the Indian politics is going in very wrong direction. 
Currently we are suffering from corruption, unemployment, black money, etc. The situation is like a pressure cooker and the whole India is boiling. 
Central government is doing blunders like increasement of price of fuels, demonetization, sensitive condition on border, wrong Kashmir policies, no response on black money etc. 
Rich people are becoming more richer and poor are becoming poor. 
They are putting more burden of taxes on common man, irresponsible decisions over G.S.T. and Aadhaar. 
Crimes are on their pick, a very big gap occurred among all the classes and religion. Judiciary became helpless. 
Central Government is not debating over strong issues like unemployment, development etc. they are only debating on Temples and mosques. 
But no one can raise their voice due to lack of strong opposition.
</p>


</div>
</body>
</html>
