
<html>
<head>

<title>Politicians and their roles</title>

<style>
div {
    border: 1px solid gray;
    padding: 8px;
}

h1 {
    text-align: center;
	font-size: 40px;
	font-family:Georgia;
    color: #000080;
}

p {
    font-family:Georgia;
    text-indent: 100px;
    text-align: justify;
    letter-spacing: 2px;
	color: green;
	margin: 20px;
}

</style>
</head>

<body>

<div>
<h1>Politicians and their roles</h1>

<p>
In the country, the politician is that people, who take the oath during the selection for fulfilling all needs of the public, but, there is no chance, they will really complete this oath.
In only India have the many politicians and they are divided into many parts of the state, but in all around the world, there is only one politician plays important role in out of the India.
The politician, in any country, is a class apart from all others but, the Indian politician is a class apart even from the politicians of the world.
The politicians of the world information will be more interesting to study why this class is a class by itself.
</p>

<p>
The role of the Politicians is to deal with national issues and drive the country in full gear. They should aim at improving the economic, financial, military strength of the country.
Economic development of all the sections of the society should be the aim of politicians. They should come forward in support of public-welfare schemes such as food for all, house for all, education for all, etc.
It is the duty of the Politicians to check corruption, nepotism, crisis in politics and ethnic problems. They should work to bring communal harmony.
They should exercise wisdom in every work of national politics. They should practice ethical culture. The political parties should try to build confidence of political wisdom by their good work.
People expect good qualities in a politician. They expect them to be trustworthy.
They should come forward to check and stop unlawful activities.
</p>

</div>
</body>
</html>
